<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestSize="true"
    beStrictAboutTestsThatDoNotTestAnything="true">

    <testsuites>
        <testsuite name="ASKfm Bot Test Suite">
            <directory>tests/Arthom/ASKfm</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/Arthom/ASKfm</directory>
        </whitelist>
    </filter>
</phpunit>
